body {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    margin: 0;
    background-color: #dddddd;
    box-sizing: border-box;
}

header {
    height: 70vh;
    background-image: url('/images/724388.jpg');
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 65%);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: antiquewhite;
    text-shadow: 6px 6px 6px black;
}

h1 {
    margin: 0;
}

.header {
    text-align: center;
}

.copyright, .date {
    text-align: center;
    font-size: 0.71rem;
}

img {
    max-width: 100%;
}

#hdurl {
    max-width: 50rem;
    margin: 0 auto;
    padding: 0 4rem;
}

.explination {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    letter-spacing: 3px;
    line-height: 1.5rem;
    color: rgb(70, 70, 70);
    font-size: 1rem;
    padding: 0 2rem;
    margin: 0;
    width: 50%;
}

.image-explanation-wrapper {
    display: flex;
    margin: 2rem 2rem;
}